/* Game Div */

#gameDiv {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  border: 3px solid black;
  border-radius: 45px;

  padding: 10px;

  background-color: bisque;
}

/* Text Styling */
#playerText {
  color: blue;
}

#computerText {
  color: red;
}

#resultText {
  color: green;
}