/* Game Div */

#gameDiv {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  border: 3px solid black;
  border-radius: 45px;

  width: 50%;
  padding: 10px;

  background-color: bisque;
}

.choiceBtn {
  line-height: 30px;
  width: 150px;
  border-radius: 15px;

  font-family: 'Roboto Mono', monospace;
  font-weight: 700;

}

/* Text Styling */
#playerText {
  color: blue;
}

#computerText {
  color: red;
}

#resultText {
  color: green;
}